// wideScreens
@include mediaXl {}

// desktop & laptop Screens
@include mediaLg {}

// tablets & small laptops Screens
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    
    ul.menu-nav,
    div.menu-branding{
        float : none;
        width: 100%;
        min-height: 0;
        //height: 50vh;
        &.show{
            transform: translate3d(0,0,0);
        }

    }

    .manu-nav{
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }

    .manu-branding{
        height : 25vh;
        transform: translate3d(100%,0,0);
    }

    //.portrait{}


  
}

// smart phone Screens
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }
    
}